<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<button type="button" name="button" id="ding-button">Ding</button>
<label for="button" id="counter">{{counter}}</label>
<footer><a href="https://www.freesound.org/people/theta4/sounds/66136/" target="_blank">Sound Source</a></footer>
